.titlebox {
    display: flex;

    border-radius: 15px 15px 0px 0px;
    background-color: rgb(0, 80, 255);
    line-height: 1;

    font: inherit;
    font-weight: bold;
    font-size: 20px;
    padding: 0.7rem;

    text-align: left;
    align-items: center;
}
.textbox_container {
    display: flex;
    background-color: rgb(255, 255, 255);
    line-height: 1;
    justify-content: center;
}
.textbox {
    display: flex;
    font: inherit;
    color: black;
    font-size: 17px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 25px;
    align-items: center;
}
.btnbox {
    display: flex;

    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 15px 15px;
    line-height: 1;

    align-items: stretch;
    justify-content: space-evenly;
}
.btn {
    flex-grow: 1;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 3px solid currentColor;
    border-radius: 15px;
    min-width: 60px;

    font-size: 15px;
    font-weight: bold;
    background: #26ab1c;

    text-align: center;
}
.test_container {
    display: grid;
    min-width: 300px;
    max-width: 450px;
    min-height: 200px;
    max-height: 300px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr 1fr;

    line-height: 1.4;
    background: rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.body {
    position: fixed;
    margin: auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
