.titlebox {
    display: flex;

    border-radius: 15px 15px 0px 0px;
    background-color: rgb(0, 80, 255);
    line-height: 1;

    font: inherit;
    font-weight: bold;
    font-size: 20px;
    padding: 0.7rem;

    text-align: left;
    align-items: center;
}
.textbox_container {
    display: flex;
    background-color: rgb(255, 255, 255);
    line-height: 1;
    font: inherit;
    color: black;
    font-size: 17px;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}
.btnbox {
    display: flex;

    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 15px 15px;
    line-height: 1;

    align-items: stretch;
    justify-content: space-evenly;
}
.btn {
    flex-grow: 1;
    margin: 0.7rem;
    border: 3px solid currentColor;
    border-radius: 15px;
    min-width: 4rem;
    font-size: 15px;
    font-weight: bold;
    background: #26ab1c;

    text-align: center;
}
.test_container {
    display: grid;
    min-width: 18rem;
    max-width: 27rem;
    min-height: 13rem;
    max-height: 19rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr 2fr;

    line-height: 1.4;
    background: rgba(0, 0, 0, 0);
    transition: 0.5s;
}

.body {
    position: fixed;
    margin: auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
