.default {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;
    font-weight: bold;
    font-size: 17px;
    padding: 1rem;

    opacity: 0;
    transition: all 1s;
}

.success {
    background-color: blue;
    color: white;
}

.fail {
    background-color: red;
    color: white;
}

.on {
    opacity: 1;
}

.off {
    opacity: 0;
}
