.default {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;
    font-weight: bold;
    font-size: 17px;
    padding: 1rem;
}

.success {
    background-color: blue;
    color: white;
}

.fail {
    background-color: red;
    color: white;
}
